<% @documents.each do |document| %>
<%= render_to_html(document["title"]) %>
<%= render_to_html(document["author"]) %>
<%= render_to_html(document["text"]) %>
<%= document["time"] %> | <a href="/documents/<%= document["title"].gsub("\#", "") %>"/>Article</a>
<% end %>


