<% if @documents != nil %>
  <% @documents.each do |document| %>
    <%= render_to_html(document["title"]) %>
    <%= render_to_html(document["author"]) %>
    <%= render_to_html(document["text"]) %>
    <%= document["time"] %> | <a href="/documents/<%= document["title"].gsub("\#", "") %>"/>Article</a> | <%= document["key"] %>
    <% end %>
  <% new_index = params[:index_start].to_i + 10 %>
  <a href="/documents?index_start=<%="#{new_index}"%>"/>Next</a>
<% else %>
  <p>No more documents!</p>
<% end %>
